.crypto-list {
  .crypto-logo {
    margin-right: 6px;
  }
  .alert-btn {
    height: 40px;
    ion-icon {
      font-size: 24px;
      color: #FEBE10;
    }
    ion-badge {
      position: absolute;
      right: -7px;
      top: 3px;
      font-size: 15px;
      padding: 2px 5px;
      border-radius: 49%;
      font-weight: 700;
    }
  }
}
