<ng-container *ngFor="let crypto of paginatedCrypto">
  <ion-item class="crypto-list" lines="full" [hidden]="hidden(crypto)" >
    <!-- <ion-item [hidden]="crypto.quoteMarket !== currentSection" class="crypto-list" lines="full"> -->
    <ion-icon name="logo-bitcoin" slot="start" class="crypto-logo"></ion-icon>
    <ion-label style="min-width: 55%;">
      <h3> <b>{{crypto.crypto | uppercase}}</b>
        <ion-chip class="" color="success">
          <ion-label>{{crypto.quoteMarket | uppercase}}</ion-label>
        </ion-chip>
        </h3>
      <h3>Volume: {{crypto.volume}}</h3>
    </ion-label>
    <ion-label>
      <h3 class="ion-text-end">
        <b>{{crypto.last | number : '1.2-7'}}</b>
      </h3>
    </ion-label>
    <ion-button fill="clear" class="alert-btn" (click)="addSubscription(crypto)">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-badge color="success">+</ion-badge>
    </ion-button>
  </ion-item>
</ng-container>
<ng-container *ngIf="currentSection && type">
  <ion-infinite-scroll *ngIf="currentSection === type" threshold="30px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ng-container>


