<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">About Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <!-- <a href='https://www.freepik.com/photos/background'>Background photo created by vanitjan - www.freepik.com</a> -->
    <div class="bkg">
      <ion-avatar>
        <img src="../../../assets/images/sumeet.jpg" />
      </ion-avatar>
    </div>
    <ion-card-header class="ion-text-center">
      <ion-card-title>Sumeet Sharma</ion-card-title>
      <!-- <ion-card-subtitle>Software Developer</ion-card-subtitle> -->
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <p>
        Hi, I am a full-stack developer based out Delhi, India, with more than 3 years of experience in front-end technologies and 1 year in backend. I had lot of learning opportunities and worked on quite a few frameworks out there.
      </p>
      <p style="margin-top: 10px">My stack</p>
      <p>
        Angular, Ionic, typeScript, JavaScript, HTML, CSS, BootStrap, Node.js and MongoDB.
      </p>
      <ion-button fill="clear" *ngFor="let item of socialMedia" (click)="goto(item.link)">
        <ion-icon [name]="item.icon" style="font-size: 30px;"></ion-icon>
      </ion-button>

      <p class="ion-margin-top">Other Credits</p>
      <div>App Icons made by <a href="https://www.flaticon.com/authors/srip" title="srip">srip</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </ion-card-content>
  </ion-card>
</ion-content>
