<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col sizeXs="12" size-sm="12" [formGroup]="signupForm">
        <ion-item *ngFor="let item of signupInputs" lines="inset" class="ion-no-padding-item">
          <ion-label position="floating">{{item.label}}</ion-label>
          <ion-input [type]="item.type" [formControlName]="item.formControl">
          </ion-input>
          <ion-icon slot="end" class="ion-align-self-center" *ngIf="item.formControl === 'password'" (click)="handleClick(item)" [name]="showPass? 'eye-off': 'eye' "></ion-icon>
        </ion-item>
        <ion-row>
          <ion-col sizeXs="10" offsetXs="1" sizeSm="10" offsetSm="1">
            <ion-button [disabled]="!signupForm.valid" (click)="signup()"  expand="block" fill="solid" shape="round">
              Sign-up
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
