<app-header [page]="'Cryptos'">
  <ion-toolbar>
    <ion-segment scrollable [value]="currentSection"  (ionChange)="segmentChanged($event)">
      <ion-segment-button *ngFor="let item of quotes" [value]="item">
        <app-loading [rows]="1" [lines]="1" *ngIf="loading"></app-loading>
        <ion-label *ngIf="!loading">{{item | uppercase}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</app-header>
<!-- <ion-header>
  <ion-toolbar>
    <ion-segment scrollable [value]="quotes && quotes[0]"  (ionChange)="segmentChanged($event)">
      <ion-segment-button *ngFor="let item of quotes" [value]="item">
        <app-loading [rows]="1" [lines]="1" *ngIf="loading"></app-loading>
        <ion-label *ngIf="!loading">{{item | uppercase}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <app-loading *ngIf="loading" [lines]='3' [rows]='4'></app-loading>
  <ion-list *ngIf="!loading">
    <ng-container *ngFor="let item of quotes">
      <app-crypto-list-info [cryptos]="allCryptos[item]" [currentSection]="currentSection" [currentSubs]="currentSubs" [type]="item" ></app-crypto-list-info>
    </ng-container>
  </ion-list>
</ion-content>
