<app-header [page]="'Alerts'"></app-header>
<ion-content [fullscreen]="true">
  <app-loading [rows]="4" [lines]="3" *ngIf="loading"></app-loading>
  <ng-container *ngIf="!loading">
    <ion-row *ngFor="let item of subs | keyvalue">
      <ion-col size="12">
          <ion-card class="sub-card">
            <ion-card-header>
              <ion-item lines="none">
                  <ion-toggle [checked]="item.value['active']" (ionChange)="updateObj($event, item.key, 'active')"></ion-toggle>
                  <p class="w-100" (click)="expand(item.key)">
                    {{item.value['crypto'] | uppercase}}
                  </p>
                  <ion-button (click)="removeSub($event,item.key)" fill="clear" color="danger" class="ion-no-margin">
                    <ion-icon name="close-outline"></ion-icon>
                  </ion-button>
                  <ion-button  class="update-btn" (click)="saveDetails()" fill="solid" color="success">
                    Save
                  </ion-button>
                  <!-- <ion-button (click)="expand(item.key)" fill="clear" class="ion-no-margin" slot="end" color="dark">
                    <ion-icon [name]="item.value['expanded']? 'chevron-down': 'chevron-forward'"></ion-icon>
                  </ion-button> -->
              </ion-item>
            </ion-card-header>
            <ion-card-content *ngIf="item.value['expanded']">
              <ion-row>
                <ion-col size="6">
                  <ion-item>
                    <ion-label position="floating">Less than</ion-label>
                    <ion-input type="number" [value]="item.value['min']" (ionChange)="updateObj($event, item.key, 'min')"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item>
                    <ion-label position="floating">Greater than</ion-label>
                    <ion-input type="number" [value]="item.value['max']" (ionChange)="updateObj($event, item.key, 'max')"></ion-input>
                  </ion-item>
                </ion-col>
                <!-- <ion-col size="2">
                  <ion-button (click)="saveDetails()" fill="outline" color="success">
                    Done
                  </ion-button>
                </ion-col> -->
              </ion-row>
            </ion-card-content>
            <!-- <ion-row>
              <ion-col size="12">
                <ion-button (click)="saveDetails()" expand="block" color="success">
                  update
                </ion-button>
              </ion-col>
            </ion-row> -->
          </ion-card>
      </ion-col>
    </ion-row>
  </ng-container>

</ion-content>
